/*-------------------------------------------------*/
/*------style sheet for p1m2-----------------------*/
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*------global styling-----------------------------*/
/*-------------------------------------------------*/

/* global reset */
body {
	font-family: Georgia, serif;
}

a:link {
	color:#6666FF;
	text-decoration: none;
}

a:hover {
	color:#00CCFF;
}

p {
	margin-bottom: 1em;
}

/*-------------------------------------------------*/
/*------styling by section-------------------------*/
/*-------------------------------------------------*/

#banner {
	border-radius: 5px;
	border: 2px solid #CCFFCC;
	background-color: #CCCCFF;
	font-family: 'Courier New', Courier, monospace;
	color: white;
	width: 100%;
}

#banner h1, h2 {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#content {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
}

#navigation {
	border-bottom: solid 2px #CCCCFF;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#navigation span {
	padding-right: 30px;
	padding-left: 30px;
}

#content img {
	float: left;
	padding: 0.5em;
	margin-right: 15px;
}